<div class="container comics">
  <h1><%= 'Comics List' %></h1>

  <div class="row comics-list">
    <%= render @comics.order('title') %>
  </div>

  <div class="load-more-container pager">
    <%= link_to(content_tag(:span, "", class: "glyphicon glyphicon-plus load-more-link"), comics_path, class: "load-more btn btn-default") %>
  </div>
</div>