/*http://www.colorzilla.com/gradient-editor/*/

.thumbnail{
  background: transparent !important;
  box-shadow: 5px 5px 2px #888888 !important;
}

.panel-info {
  border-color: #31708f;
}

.panel-hero {
  @extend .panel-info;
}

.panel-info .panel-heading {
  color: #FFFFFF !important;
  background-color: #31708f !important;
  border-color: #31708f !important;
}

.panel-info .panel-body{
  background: rgba(188, 232, 241, 0.2);
}

.panel-danger {
  border-color: #a94442;
}

.panel-villain {
  @extend .panel-danger;
}

.panel-danger .panel-heading {
  color: #FFFFFF !important;
  background-color: #a94442 !important;
  border-color: #a94442 !important;
}

.panel-danger .panel-body{
  background: rgba(169, 68, 66, 0.2);
}

.panel-warning {
  border-color: #8a6d3b;
}

.panel-antihero {
  @extend .panel-warning;
}

.panel-warning .panel-heading {
  color: #FFFFFF !important;
  background-color: #8a6d3b !important;
  border-color: #8a6d3b !important;
}

.panel-warning .panel-body{
  background: rgba(138, 109, 59, 0.2);
}

.panel-success {
  border-color: #3c763d;
}

.panel-civilian {
  @extend .panel-success;
}

.panel-success .panel-heading {
  color: #FFFFFF !important;
  background-color: #3c763d !important;
  border-color: #3c763d !important;
}

.panel-success .panel-body{
  background: rgba(60, 118, 61, 0.2);
}

.panel .label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 85%;
  font-weight: 700;
  line-height: 1;
  color: #FFFFFF;
  text-align: center;
  vertical-align: baseline;
  border-radius: .25em;
}

.panel .label + .label {
  margin: 6px;
}

.panel .label a:link{
  color: #FFFFFF;
}

.panel .label a:visited {
  color: #FFFFFF;
}

.panel .label a:hover {
  color: #FFFFFF;
  text-decoration:underline;
}