// Place all the styles related to the Comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.load-more-container {
  margin-left: auto;
  margin-right: auto;
}

.comics .abstract {
  width: 360px;
  height: 615px;
  margin-bottom: 20px;
}

.comic-page .show .panel .thumbnail{
  margin-left: 10px;
}

.comic-page .related-character .panel .panel-body .center img{
  width: 150px;
  height: 150px;
}

.comic-page .related-character .panel .panel-heading .panel-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}